body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;

}
.visualContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.properties{
    width: 300px;
    height: 27vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(252, 252, 252);
    margin-top: 15vh;
}

h2{
    text-align: center;
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

.pointsToBeDrawn{
    text-align: start;
}

input{
    outline: none;
    font-size: 1.5rem;
    width: 60%;
    margin-right: 1rem;
    border-radius: 40px;
    border: 2px solid black;
    padding: 0rem .5rem;
}

button{
    width: 40px;
    height: 40px;
    outline: none;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 50%;
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(29, 80, 175);
    transition: all .2s;
}

button:hover{
    background-color: rgb(123, 185, 255);
}